.card {
  display: flex;
  flex-direction: column;

  border-radius: 4px;
  padding: 16px;
}

.card.card--elevation-2 {
  background: hsl(var(--base-hue), 10%, 6%);
  border: 1px solid hsl(var(--base-hue), 10%, 15%);
  box-shadow:
      0 8px 16px rgba(0, 0, 0, 0.05),
      0 0 4px rgba(0, 0, 0, 0.15);

}

.card.card--elevation-4 {
  background-color: hsl(var(--base-hue), 10%, 10%);
  border: 1px solid hsl(var(--base-hue), 10%, 20%);
}