.home-header__connected-to {
  font-size: 1rem;
  color: hsla(var(--base-hue), 20%, 80%, 50%);
}

.home-header__host-name {
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;

  color: hsla(var(--base-hue), 50%, 80%, 80%);

  margin-left: 8px;
}

.home-header__disconnect {
  margin-left: 32px;
}

.home__cards-container {
  display: flex;
  margin-bottom: var(--page-header-height);

  height: calc(100% - var(--page-header-height));
  max-height: calc(100% - var(--page-header-height));
  max-width: calc(100% - 128px);

  margin-left: 64px;
  margin-right: 64px;

  flex: 1;
}

.home__left-card {
  margin: 8px 0;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none !important;

  flex: 1;
  max-width: 432px;
}

.home__right-card {
  flex: 2;
  max-width: 66%;
}

.details-card {
  display: flex;
  flex-direction: column;

  padding: 0;
}

.no-content-msg {
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;

  color: hsla(var(--base-hue), 50%, 80%, 50%);

  margin: auto 64px;
  padding-bottom: 77px;
}

.details-card__databases {
  flex: 2;
  max-height: 40%;

  border-bottom: solid 1px hsl(var(--base-hue), 10%, 15%);
}

.details-card__databases__title {
  margin: 32px 32px 16px;
}

.details-card__tables {
  flex: 3;
  max-height: 60%;
}

.details-card__tables__title {
  margin: 32px 32px 16px;
}

.details-card__content {
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  overflow-x: hidden;

  /* 77px is the height of the title (29px) plus its vertical margins (32px + 16px).
     This hardcoded value is extremely brittle and prone to fail, and should be replaced
     by a CSS variable that is changed through Javascript. */
  height: calc(100% - 77px);
}

.details-card__content__list {
  margin: 0;
  padding: 0 16px 4px;

  list-style: none;
}

.details-card__content__list-item {
  display: block;

  padding: 8px 16px;
  margin-bottom: 12px;

  background-color: hsl(var(--base-hue), 10%, 10%);
  border: solid 1px hsl(var(--base-hue), 11%, 15%);
  border-radius: 4px;

  text-decoration: none;
  color: hsl(var(--base-hue), 80%, 96%);
}

.details-card__content__list-item--selected {
  background-color: hsl(var(--base-hue), 100%, 50%);
  border: none;
  color: white;
}

.table-contents-card {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.table-contents-card__no-content-msg {
  margin: auto;
  max-width: 250px;
}

.table-contents-card__container {
  position: relative;

  display: flex;
  flex: 1;

  max-width: 100%;

  overflow-y: auto;
  overflow-x: auto;

  margin: 32px 32px 48px;
}

.table-contents-card__container__border-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: var(--current-table-width);
  height: var(--current-table-height);

  /* Simulate inset border, because an outset border would get cut off by the parent container */
  box-shadow: inset 0 0 0 1px hsl(var(--base-hue), 10%, 25%);

  /*
  Even though we defined border-radii in the table cells, we still need to define it here,
  so that the box-shadow/border follows the rounded corner.
  */
  border-radius: 4px;
}

.table-contents-card__table {
  position: relative;

  flex: 1;
  max-height: var(--table-height);

  border-spacing: 0;
}

.table-contents-card__table__header > th:first-of-type {
  border-top-left-radius: 4px;
}

.table-contents-card__table__header > th:last-of-type {
  border-top-right-radius: 4px;
}

.table-contents-card__table__header > th:not(:last-child) {
  border-right: solid 1px hsl(var(--base-hue), 10%, 25%);
}

.table-contents-card__table__row:last-of-type > td:first-of-type {
  border-bottom-left-radius: 4px;
}

.table-contents-card__table__row:last-of-type > td:last-of-type {
  border-bottom-right-radius: 4px;
}

.table-contents-card__table__row > td:not(:last-child) {
  border-right: solid 1px hsl(var(--base-hue), 10%, 25%);
}

.table-contents-card__table tbody {
  max-height: var(--table-height);
}

.table-contents-card__table th, .table-contents-card__table td {
  height: var(--table-item-height);
}

.table-contents-card__table__header {
  background-color: hsl(var(--base-hue), 20%, 15%);
  color: hsl(var(--base-hue), 100%, 65%);
}

.table-contents-card__table__header th {
  padding: 0 24px;

  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 16px;

  text-align: start;
}

.table-contents-card__table__row {
  background-color: hsl(var(--base-hue), 20%, 8%);
}

.table-contents-card__table__row:nth-child(even) {
  background-color: hsl(var(--base-hue), 20%, 10%);
}

.table-contents-card__table__row td {
  padding: 0 24px;

  font-family: "Roboto Mono", monospace;
  font-size: 16px;

  text-align: start;
}
