@import url('https://rsms.me/inter/inter.css');

:root {
  --base-hue: 30;
}

html, body {
  margin: 0;
  padding: 0;

  height: 100%;

  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  background-color: hsl(var(--base-hue), 10%, 2%);
  color: hsl(var(--base-hue), 100%, 98%);
}

input {
  color: hsl(var(--base-hue), 100%, 98%);
}

* {
  box-sizing: border-box;
}