* {
  /* Firefox specific */
  scrollbar-color: hsl(var(--base-hue), 20%, 50%) transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--base-hue), 20%, 50%);
  border-radius: 2px;
}